name: Run dummy test case
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - "*"
jobs:  
  run_fmu_dummy:
    name: Run FMU dummy
    runs-on: ubuntu-latest
    container:
      image: precice/precice:nightly
      options: --user root
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4    
      - name: Install Dependencies
        run: |
          apt-get -qq update
          apt-get -qq install python3-pip python3.12-venv
          rm -rf /var/lib/apt/lists/*
      - name: Create venv
        run: |
          python3 -m venv .venv
      - name: Activate venv
        # see https://stackoverflow.com/a/74669486
        run: |
          . .venv/bin/activate
          echo PATH=$PATH >> $GITHUB_ENV   
      - name: Run pip install
        run:  pip install .
      - name: Run coupling of two Dummy FMUs
        timeout-minutes: 3
        run: |
          cd tests/
          cd SolverOne/ && fmiprecice ./fmi-settings.json ./precice-settings.json & cd SolverTwo/ && fmiprecice ./fmi-settings.json ./precice-settings.json
      - name: Check the result
        timeout-minutes: 3
        run: |
          cd tests/
          python3 test.py
